@inject FeatureService FeatureService

@if (Feature != null && Feature.Id != Guid.Empty)
{

    <h2>@Feature.Title</h2>
    <p>@Feature.Description</p>

    <br/>

    <button type ="button" class="btn btn-danger" @onclick="OnClick">Delete Feature</button>
}
else
{
    <p>Select a feature from the sidebar to view details.</p>
}

@code
{
    [Parameter]
    public FeatureItem? Feature {get;set;}

    private async Task OnClick()
    {
        if(Feature != null && Feature.Id != Guid.Empty)
        {
            try
            {
                await FeatureService.RemoveFeature(Feature);
                Feature = null;
                FeatureService.SelectFeature(Feature);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Delet failed: {ex.Message}");
            }
        }
        else
        {
            Console.WriteLine("Cannot delete: Feature is null or has no ID");
        }
    }
}