@inject FeatureService FeatureService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <h2>Features</h2>
    </div>
</div>

<nav class="nav flex-column">

    @foreach (var item in _featureList)
    {
        <div class="nav-item px-3">
            <button type="button" class="nav-link sidebar-link" @onclick="()=>FeatureService.SelectFeature(item)">
                <span class="bi bi-house-fill-nav-menu" aria-hidden="true"></span> @item.Title
            </button>
        </div>
    }

    <div class="nav-item px-3">
        <button type="button" class="nav-link sidebar-link" @onclick="()=>FeatureService.SelectFeature(null)">
            <span class="bi bi-house-fill-nav-menu" aria-hidden="true"></span> Add New Feature
        </button>
    </div>

</nav>


@code {

    private List<FeatureItem> _featureList = new();

    protected override async Task OnInitializedAsync()
    {
        _featureList = await FeatureService.GetFeatureList(); 

        FeatureService.OnListChanged += RefreshList;
    }
    private async void RefreshList()
    {
        _featureList = await FeatureService.GetFeatureList();
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        FeatureService.OnListChanged -= RefreshList;
    }

}
