@page "/"
@inject FeatureService FeatureService
@implements IDisposable

<div class="content-area extension-background">
    @if (FeatureService.SelectedFeature == null)
    {
        <AddFeature></AddFeature>
    }
    else
    {
        <FeatureDisplay Feature="FeatureService.SelectedFeature" />
    }
</div>
 
@code
{
    protected override void OnInitialized()
    {
        FeatureService.OnSelectionChanged += StateHasChanged;
    }
    public void Dispose()
    {
        FeatureService.OnSelectionChanged -= StateHasChanged;
    }
    
}

